*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero-container{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.hero-container ul li{
    list-style-type: none;
     display: inline;
     margin-right: 10px;
}

.hero-container ul li a{
    color: #e5e7eb;
    text-decoration: none;
}

.header-container{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

.header-container p{
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    margin-right: auto;
}

.hero-text-container{
    display: flex;
    justify-content: center;
    height: 500px;
    flex: auto;
    align-items: center;
    gap: 20px;
}

.hero-text-item{
    width: 40%;
}

.hero-text-item h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text-item p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text-item button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 900;
    padding: 10px 30px;
    border-radius: 12px;
}

.hero-box{
    color: #f9faf8;
    font-size: 18px;
    background-color: grey;
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.info h2{
    font-size: 30px;
}

.card-container{
    display: flex;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p{
    max-width: 60%;
    text-align: center;
}

.card-box{
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 12px;
}

.quote-container{
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    padding: 0 300px;
}

.quote-container .quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.credit{
    font-weight: 900;
    align-self: flex-end;
}

.cta-container{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background-color: #3882f6;
    width: 70%;
    height: 100px;
    border-radius: 6px;
    padding: 60px 0;
}

.cta div h3{
    font-size: 25px;
    margin-bottom: -10px;
}

.cta button{
    font-size: 16px;
    padding: 5px 20px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    font-weight: 900;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
}
